:root {
    --main-color: #DA0037;
    --main-bg: #191919;
    --main-bg-darker: #171717;
}

.slidev-layout {
    background-color: var(--main-bg);
}

img {
    object-fit: contain;
}

.center-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1.slide-title {
    font-size: 48px;
    letter-spacing: 3px;
    color: var(--main-color);
    text-transform: uppercase;
    font-family: monospace;
}

.secondary-title {
    color: #777;
    font-size: 16px;
    padding: 0 40px;
    text-indent: -20px;
}

.teritary-title {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    padding: 0;
    margin: 0;
    text-align: center;
}


ul.content-overview {
    padding-top: 30px;
    font-size: 24px;
}



.break-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.break-cover p {
    font-family: monospace;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.break-cover p.absolute-center {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: #efefef;
}